- if user_signed_in?
  %div#account-show{data: {account_id: @user.id, followed_id: current_user.id} }
- else
  %div#account-show{data: {account_id: @user.id} }

.container-form
  = render 'commons/profile', user: @user, recent_posts: @recent_posts

= javascript_pack_tag 'account'